---
---
// OVERRIDES

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.resume-page {
  .page__content {
    font-size: 0.85em; // Use !important to force the override
  }
}

.no-resize-img {
  width: auto;
  margin: 0 auto;
}

.pixel-art-img {
  image-rendering: pixelated;
}

.pixel-art-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-40-width {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 40%;
  height: auto;
  aspect-ratio: 11 / 20;
}