name: Deploy Jekyll to Self-Hosted Nginx

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code with LFS
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
          bundler-cache: true
          bundler: 2.6.9

      - name: Update gems
        run: gem update --system

      - name: Install dependencies
        run: bundle install

      - name: Build Jekyll site
        run: bundle exec jekyll build

      - name: Deploy via SSH/rsync
        uses: easingthemes/ssh-deploy@v5.1.0
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          REMOTE_USER: ${{ secrets.SERVER_USER }}
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          SOURCE: "_site/"
          TARGET: "/srv/thingswithstuff.net/html/"
          ARGS: "-avz --delete"